.gallery
  &--gallery-page
    padding-top: 203px
  &__wrapper
    display: flex
    align-items: flex-start
    gap: 42px
    flex-wrap: wrap
    margin-bottom: $mb
  &__img-wrapper
    width: calc(50% - 21px)

  &__img-link
    display: flex
    flex-direction: column
    gap: 15px

  &__text
    color: #646464
    font-size: 26px

  &__img
    max-width: 100%