.hero
  &__slider
    position: relative
    margin-bottom: $mb
  &__title
    position: absolute
    color: white
    font-size: 36px
    line-height: 73px
    bottom: 103px
    left: 339px

  &__slide
    height: 70vh
