$margin-single: 40px

.single-project
  &__wrapper
    display: flex
    flex-wrap: wrap
    gap: $margin-single
    margin-bottom: $mb

  &__item
    display: flex
    max-width: 100%
    &--main
      position: relative
      width: 100%
      margin-bottom: $margin-single
    &--double
      width: calc(50% - 20px)

  &__wrapper-title
    position: absolute
    padding-left: max(15px, calc((100% - 1280px)/2))
    bottom: 10%
  &__photo
    display: flex
    max-width: 100%
    &--main
      height: 70vh
      width: 100%
  &__title
    color: white
    font-size: 36px

  &__text
    color: white
    font-size: 24px
    font-family: 'Vaccine', sans-serif
    font-weight: 400

  &__project-title
    font-size: 20px
    &--long
      max-width: 190px

  &__describe
    text-transform: uppercase
    letter-spacing: 0.3em
    font-family: "helvetic", sans-serif
    line-height: 30px
    &--color
      color: #858585
    &--long
      max-width: 320px
    &--space
      margin-bottom: 35px


  &__about
    display: flex
    justify-content: space-between
    margin: 80px 0


  &__about-box
    display: flex
    gap: 50px

  &__box-item
    display: flex
    flex-direction: column
    font-size: 14px
    font-weight: 400

  &__second-describe
    display: flex
    flex-direction: column
    margin: 40px 0

  &__second-title
    text-transform: uppercase
    font-size: 34px
    letter-spacing: 0.3em
    margin-bottom: 30px

  &__second-text
    font-size: 16px
    letter-spacing: 0.3em
    line-height: 30px
    &:not(:last-child)
      margin-bottom: 20px

